### Medidas de posição

#### Base de dados

In [1]:
import numpy as np
import statistics
import math
from scipy import stats

In [2]:
dados = np.array([150, 151, 152, 152, 153, 154, 155, 155, 155, 155, 156, 156, 156,
                  157, 158, 158, 160, 160, 160, 160, 160, 161, 161, 161, 161, 162,
                  163, 163, 164, 164, 164, 165, 166, 167, 168, 168, 169, 170, 172,
                  173])

#### Média aritmética simples

In [3]:
dados.sum() / len(dados)

np.float64(160.375)

In [4]:
dados.mean()

np.float64(160.375)

In [5]:
statistics.mean(dados)

np.int64(160)

#### Moda

In [6]:
statistics.mode(dados)

np.int64(160)

In [7]:
stats.mode(dados)

ModeResult(mode=np.int64(160), count=np.int64(5))

#### Mediana

In [8]:
dados_impar = [150, 151, 152, 152, 153, 154, 155, 155, 155]

#### Cálculo Manual (ímpar)

In [9]:
posicao = len(dados_impar) / 2
posicao

4.5

In [10]:
posicao = math.ceil(posicao)
posicao

5

In [11]:
dados_impar[posicao - 1]

153

#### Cálculo Manual (par)

In [12]:
posicao = len(dados) // 2
posicao

20

In [13]:
dados[posicao - 1], dados[posicao]

(np.int64(160), np.int64(160))

In [14]:
mediana = (dados[posicao -1] + dados[posicao]) / 2
mediana

np.float64(160.0)

#### Bibliotecas

In [15]:
np.median(dados_impar)

np.float64(153.0)

In [16]:
np.median(dados)

np.float64(160.0)

In [17]:
statistics.median(dados_impar)

153

In [18]:
statistics.median(dados)

np.float64(160.0)

#### Média aritmética ponderada

In [19]:
notas = np.array([9, 8, 7, 3])
pesos = np.array([1, 2, 3, 4])

In [20]:
media_ponderada = (notas * pesos).sum() / pesos.sum()
media_ponderada

np.float64(5.8)

In [21]:
np.average(notas, weights = pesos)

np.float64(5.8)

#### Média aritmética, moda e mediana com distribuição de frequência (dados agrupados)

In [22]:
dados = {'inferior': [150, 154, 158, 162, 166, 170],
	    'superior': [154, 158, 162, 166, 170, 174],
	    'fi': [5, 9, 11, 7, 5, 3]}

In [23]:
import pandas as pd
dataset = pd.DataFrame(dados)
dataset

   inferior  superior  fi
0       150       154   5
1       154       158   9
2       158       162  11
3       162       166   7
4       166       170   5
5       170       174   3

In [24]:
dataset['xi'] = (dataset['superior'] + dataset['inferior']) / 2
dataset

   inferior  superior  fi     xi
0       150       154   5  152.0
1       154       158   9  156.0
2       158       162  11  160.0
3       162       166   7  164.0
4       166       170   5  168.0
5       170       174   3  172.0

In [25]:
dataset['fi.xi'] = dataset['fi'] * dataset['xi']
dataset

   inferior  superior  fi     xi   fi.xi
0       150       154   5  152.0   760.0
1       154       158   9  156.0  1404.0
2       158       162  11  160.0  1760.0
3       162       166   7  164.0  1148.0
4       166       170   5  168.0   840.0
5       170       174   3  172.0   516.0

In [26]:
dataset['Fi'] = 0
dataset

   inferior  superior  fi     xi   fi.xi  Fi
0       150       154   5  152.0   760.0   0
1       154       158   9  156.0  1404.0   0
2       158       162  11  160.0  1760.0   0
3       162       166   7  164.0  1148.0   0
4       166       170   5  168.0   840.0   0
5       170       174   3  172.0   516.0   0

In [27]:
frequencia_acumulada = []
somatorio = 0
for linha in dataset.iterrows():
	somatorio += linha[1][2]
	frequencia_acumulada.append(somatorio)
	
frequencia_acumulada

C:\Users\Joaoc\AppData\Local\Temp\ipykernel_8492\3370867726.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  somatorio += linha[1][2]

[np.float64(5.0),
 np.float64(14.0),
 np.float64(25.0),
 np.float64(32.0),
 np.float64(37.0),
 np.float64(40.0)]

In [28]:
dataset['Fi'] = frequencia_acumulada
dataset

   inferior  superior  fi     xi   fi.xi    Fi
0       150       154   5  152.0   760.0   5.0
1       154       158   9  156.0  1404.0  14.0
2       158       162  11  160.0  1760.0  25.0
3       162       166   7  164.0  1148.0  32.0
4       166       170   5  168.0   840.0  37.0
5       170       174   3  172.0   516.0  40.0

#### Média

In [29]:
dataset['fi'].sum(), dataset['fi.xi'].sum()

(np.int64(40), np.float64(6428.0))

In [30]:
dataset['fi'].sum() / dataset['fi.xi'].sum()

np.float64(0.006222775357809583)

#### Moda

In [31]:
dataset['fi'].max()

np.int64(11)

In [32]:
dataset[dataset['fi'] == dataset['fi'].max()]['xi'].values[0]

np.float64(160.0)

#### Mediana

In [33]:
dataset

   inferior  superior  fi     xi   fi.xi    Fi
0       150       154   5  152.0   760.0   5.0
1       154       158   9  156.0  1404.0  14.0
2       158       162  11  160.0  1760.0  25.0
3       162       166   7  164.0  1148.0  32.0
4       166       170   5  168.0   840.0  37.0
5       170       174   3  172.0   516.0  40.0

In [34]:
fi_2 = dataset['fi'].sum() / 2
fi_2

np.float64(20.0)

In [35]:
limite_inferior, frequencia_classe, id_frequencia_anterior = 0, 0, 0
for linha in dataset.iterrows():
	limite_inferior = linha[1][0]
	frequencia_classe = linha[1][2]
	id_frequencia_anterior = linha[0]
	if linha[1][5] >= fi_2:
		id_frequencia_anterior -= 1
		break

C:\Users\Joaoc\AppData\Local\Temp\ipykernel_8492\2694294597.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  limite_inferior = linha[1][0]
C:\Users\Joaoc\AppData\Local\Temp\ipykernel_8492\2694294597.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  frequencia_classe = linha[1][2]
C:\Users\Joaoc\AppData\Local\Temp\ipykernel_8492\2694294597.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if linha[1][5] >= fi_2:

In [36]:
limite_inferior, frequencia_classe, id_frequencia_anterior

(np.float64(158.0), np.float64(11.0), 1)

In [37]:
Fi_anterior = dataset.iloc[[id_frequencia_anterior]]['Fi'].values[0]
Fi_anterior

np.float64(14.0)

In [38]:
mediana = limite_inferior + ((fi_2 - Fi_anterior) * 4 / frequencia_classe)
mediana

np.float64(160.1818181818182)

In [39]:
def get_estatisticas(dataframe):
	media = dataset['fi.xi'].sum() / dataset['fi'].sum()	
	moda = dataset[dataset['fi'] == dataset['fi'].max()]['xi'].values[0]
	
	fi_2 = dataset['fi'].sum() / 2
	limite_inferior, frequencia_classe, id_frequencia_anterior = 0, 0, 0
	for i, linha in enumerate(dataset.iterrows()):
		limite_inferior = linha[1][0]
		frequencia_classe = linha[1][2]
		id_frequencia_anterior = linha[0]	
		if linha[1][5] >= fi_2:
			id_frequencia_anterior -= 1
			break
	Fi_anterior = dataset.iloc[[id_frequencia_anterior]]['Fi'].values[0]
	mediana = limite_inferior + ((fi_2 - Fi_anterior) * 4) / frequencia_classe
	
	return media, moda, mediana

In [40]:
get_estatisticas(dataset)

C:\Users\Joaoc\AppData\Local\Temp\ipykernel_8492\3151989548.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  limite_inferior = linha[1][0]
C:\Users\Joaoc\AppData\Local\Temp\ipykernel_8492\3151989548.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  frequencia_classe = linha[1][2]
C:\Users\Joaoc\AppData\Local\Temp\ipykernel_8492\3151989548.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if linha[1][5] >= fi_2:

(np.float64(160.7), np.float64(160.0), np.float64(160.1818181818182))

#### Média geométrica, harmônica e quadrática

##### Média geométrica

In [41]:
from scipy.stats.mstats import gmean

In [42]:
dados = np.array([150, 151, 152, 152, 153, 154, 155, 155, 155, 155, 156, 156, 156,
                  157, 158, 158, 160, 160, 160, 160, 160, 161, 161, 161, 161, 162,
                  163, 163, 164, 164, 164, 165, 166, 167, 168, 168, 169, 170, 172,
                  173])

In [43]:
gmean(dados)

np.float64(160.26958390038902)

##### Média harmônica

In [44]:
from scipy.stats.mstats import hmean

In [45]:
hmean(dados)

np.float64(160.1647194799467)

##### Média quadrática

In [46]:
def quadratic_mean(dados):
    return math.sqrt(sum(n * n for n in dados) / len(dados))

In [47]:
quadratic_mean(dados)

160.48091786876097

#### Quartis

In [48]:
dados_impar = [150, 151, 152, 152, 153, 154, 155, 155]

##### Cálculo manual

In [49]:
np.median(dados_impar)

np.float64(152.5)

In [50]:
posicao_mediana = math.floor(len(dados_impar) / 2)
posicao_mediana

4

In [51]:
esquerda = dados_impar[0:posicao_mediana]
esquerda

[150, 151, 152, 152]

In [52]:
np.median(esquerda)

np.float64(151.5)

In [53]:
direita = dados_impar[posicao_mediana + 1:]
direita

[154, 155, 155]

In [54]:
np.median(direita)

np.float64(155.0)

##### Bibliotecas

In [55]:
np.quantile(dados_impar, 0.5)

np.float64(152.5)

In [56]:
np.quantile(dados_impar, 0.75)

np.float64(154.25)

In [57]:
np.quantile(dados_impar, 0.25)

np.float64(151.75)

In [59]:
esquerda2 = dados_impar[0:posicao_mediana + 1]
esquerda2

[150, 151, 152, 152, 153]

In [60]:
np.median(esquerda2)

np.float64(152.0)

In [61]:
np.quantile(dados, 0.25), np.quantile(dados, 0.50), np.quantile(dados, 0.75)

(np.float64(155.75), np.float64(160.0), np.float64(164.0))

##### scipy

In [63]:
stats.scoreatpercentile(dados, 25), stats.scoreatpercentile(dados, 50), stats.scoreatpercentile(dados, 75)

(np.float64(155.75), np.float64(160.0), np.float64(164.0))

##### pandas

In [64]:
import pandas as pd
dataset = pd.DataFrame(dados)
dataset.head()

     0
0  150
1  151
2  152
3  152
4  153

In [65]:
dataset.quantile([0.25, 0.5, 0.75])

           0
0.25  155.75
0.50  160.00
0.75  164.00

In [66]:
dataset.describe()

                0
count   40.000000
mean   160.375000
std      5.903877
min    150.000000
25%    155.750000
50%    160.000000
75%    164.000000
max    173.000000

#### Quartis com distribuição de frequência (dados agrupados)

In [31]:
dados = {'inferior': [150, 154, 158, 162, 166, 170],
	    'superior': [154, 158, 162, 166, 170, 174],
	    'fi': [5, 9, 11, 7, 5, 3]}

In [32]:
import pandas as pd
dataset = pd.DataFrame(dados)
dataset

   inferior  superior  fi
0       150       154   5
1       154       158   9
2       158       162  11
3       162       166   7
4       166       170   5
5       170       174   3

In [33]:
dataset['xi'] = (dataset['superior'] + dataset['inferior']) / 2
dataset

   inferior  superior  fi     xi
0       150       154   5  152.0
1       154       158   9  156.0
2       158       162  11  160.0
3       162       166   7  164.0
4       166       170   5  168.0
5       170       174   3  172.0

In [34]:
dataset['fi.xi'] = dataset['fi'] * dataset['xi']
dataset

   inferior  superior  fi     xi   fi.xi
0       150       154   5  152.0   760.0
1       154       158   9  156.0  1404.0
2       158       162  11  160.0  1760.0
3       162       166   7  164.0  1148.0
4       166       170   5  168.0   840.0
5       170       174   3  172.0   516.0

In [35]:
dataset['Fi'] = 0
dataset

   inferior  superior  fi     xi   fi.xi  Fi
0       150       154   5  152.0   760.0   0
1       154       158   9  156.0  1404.0   0
2       158       162  11  160.0  1760.0   0
3       162       166   7  164.0  1148.0   0
4       166       170   5  168.0   840.0   0
5       170       174   3  172.0   516.0   0

In [36]:
frequencia_acumulada = []
somatorio = 0
for linha in dataset.iterrows():
	somatorio += linha[1][2]
	frequencia_acumulada.append(somatorio)
	
frequencia_acumulada

C:\Users\Joaoc\AppData\Local\Temp\ipykernel_14444\3370867726.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  somatorio += linha[1][2]

[np.float64(5.0),
 np.float64(14.0),
 np.float64(25.0),
 np.float64(32.0),
 np.float64(37.0),
 np.float64(40.0)]

In [37]:
dataset['Fi'] = frequencia_acumulada
dataset

   inferior  superior  fi     xi   fi.xi    Fi
0       150       154   5  152.0   760.0   5.0
1       154       158   9  156.0  1404.0  14.0
2       158       162  11  160.0  1760.0  25.0
3       162       166   7  164.0  1148.0  32.0
4       166       170   5  168.0   840.0  37.0
5       170       174   3  172.0   516.0  40.0

In [79]:
def get_quartil(dataframe, q1 = True):
	if q1 == True:
		fi_4 = dataset['fi'].sum() / 4
	else:
		fi_4 = (3 * dataset['fi'].sum()) / 4
	
	limite_inferior, frequencia_classe, id_frequencia_anterior = 0, 0, 0
	for linha in dataset.iterrows():
		limite_inferior = linha[1][0]
		frequencia_classe = linha[1][2]
		id_frequencia_anterior = linha[0]
		if linha[1][5] >= fi_4:
			id_frequencia_anterior -= 1
			break
	Fi_anterior = dataset.iloc[[id_frequencia_anterior]]['Fi'].values[0]
	q = limite_inferior + ((fi_4 - Fi_anterior) * 4) / frequencia_classe

	return q

In [80]:
get_quartil(dataset), get_quartil(dataset, q1 = False)

C:\Users\Joaoc\AppData\Local\Temp\ipykernel_8492\453578145.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  limite_inferior = linha[1][0]
C:\Users\Joaoc\AppData\Local\Temp\ipykernel_8492\453578145.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  frequencia_classe = linha[1][2]
C:\Users\Joaoc\AppData\Local\Temp\ipykernel_8492\453578145.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if linha[1][5] >= fi_4:

(np.float64(156.22222222222223), np.float64(164.85714285714286))

#### Percentis

In [81]:
dados = np.array([150, 151, 152, 152, 153, 154, 155, 155, 155, 155, 156, 156, 156,
                  157, 158, 158, 160, 160, 160, 160, 160, 161, 161, 161, 161, 162,
                  163, 163, 164, 164, 164, 165, 166, 167, 168, 168, 169, 170, 172,
                  173])

In [82]:
np.median(dados)

np.float64(160.0)

In [83]:
np.quantile(dados, 0.5)

np.float64(160.0)

In [84]:
np.percentile(dados, 50)

np.float64(160.0)

In [85]:
np.percentile(dados, 5), np.percentile(dados, 10), np.percentile(dados, 90)

(np.float64(151.95), np.float64(152.9), np.float64(168.1))

In [86]:
stats.scoreatpercentile(dados, 5), stats.scoreatpercentile(dados, 10), stats.scoreatpercentile(dados, 90)

(np.float64(151.95000000000002),
 np.float64(152.89999999999998),
 np.float64(168.1))

In [88]:
import pandas as pd
dataset = pd.DataFrame(dados)
dataset.head()

     0
0  150
1  151
2  152
3  152
4  153

In [89]:
dataset.quantile([0.05, 0.10, 0.90])

           0
0.05  151.95
0.10  152.90
0.90  168.10

### Medidas de Dispersão

#### Amplitude total e diferença interquartil

In [3]:
dados

array([150, 151, 152, 152, 153, 154, 155, 155, 155, 155, 156, 156, 156,
       157, 158, 158, 160, 160, 160, 160, 160, 161, 161, 161, 161, 162,
       163, 163, 164, 164, 164, 165, 166, 167, 168, 168, 169, 170, 172,
       173])

In [4]:
dados.max() - dados.min()

np.int64(23)

In [5]:
q1 = np.quantile(dados, 0.25)
q3 = np.quantile(dados, 0.75)
q1, q3

(np.float64(155.75), np.float64(164.0))

In [8]:
diferenca_interquartil = q3 - q1
diferenca_interquartil

np.float64(8.25)

In [9]:
inferior = q1 - (1.5 * diferenca_interquartil)
inferior

np.float64(143.375)

In [10]:
superior = q3 + (1.5 * diferenca_interquartil)
superior

np.float64(176.375)

#### Variância e desvio padrão

In [11]:
dados_impar = np.array([150, 151, 152, 152, 153, 154, 155, 155, 155])

##### Cálculo manual

In [26]:
def get_variancia_desvio_padrao_coeficiente(dataset):
	media = dataset.sum() / len(dataset)
	desvio = abs(dados_impar - media)
	desvio = desvio ** 2
	soma_desvio = desvio.sum()
	variancia = soma_desvio / len(dados_impar)
	dp = math.sqrt(variancia)
	return variancia, dp, (dp / media) * 100

In [27]:
get_variancia_desvio_padrao_coeficiente(dados_impar)

(np.float64(3.111111111111111),
 1.7638342073763937,
 np.float64(1.1528328152786886))

##### Bibliotecas

In [14]:
np.var(dados_impar)

np.float64(3.111111111111111)

In [20]:
np.std(dados_impar)

np.float64(1.7638342073763937)

In [15]:
np.var(dados)

np.float64(33.984375)

In [21]:
np.std(dados)

np.float64(5.829611908180509)

In [16]:
statistics.variance(dados)

np.int64(34)

In [17]:
from scipy import ndimage
ndimage.variance(dados)

np.float64(33.984375)

In [24]:
stats.tstd(dados, ddof = 0)

np.float64(5.829611908180509)

In [28]:
stats.variation(dados_impar) * 100

np.float64(1.1528328152786886)

In [29]:
stats.variation(dados) * 100

np.float64(3.634987939629312)

#### Desvio padrão com dados agrupados

In [38]:
dataset

   inferior  superior  fi     xi   fi.xi    Fi
0       150       154   5  152.0   760.0   5.0
1       154       158   9  156.0  1404.0  14.0
2       158       162  11  160.0  1760.0  25.0
3       162       166   7  164.0  1148.0  32.0
4       166       170   5  168.0   840.0  37.0
5       170       174   3  172.0   516.0  40.0

In [39]:
dataset ['xi_2'] = dataset['xi'] * dataset['xi']
dataset

   inferior  superior  fi     xi   fi.xi    Fi     xi_2
0       150       154   5  152.0   760.0   5.0  23104.0
1       154       158   9  156.0  1404.0  14.0  24336.0
2       158       162  11  160.0  1760.0  25.0  25600.0
3       162       166   7  164.0  1148.0  32.0  26896.0
4       166       170   5  168.0   840.0  37.0  28224.0
5       170       174   3  172.0   516.0  40.0  29584.0

In [40]:
dataset['fi_xi_2'] = dataset['fi'] * dataset['xi_2']
dataset

   inferior  superior  fi     xi   fi.xi    Fi     xi_2   fi_xi_2
0       150       154   5  152.0   760.0   5.0  23104.0  115520.0
1       154       158   9  156.0  1404.0  14.0  24336.0  219024.0
2       158       162  11  160.0  1760.0  25.0  25600.0  281600.0
3       162       166   7  164.0  1148.0  32.0  26896.0  188272.0
4       166       170   5  168.0   840.0  37.0  28224.0  141120.0
5       170       174   3  172.0   516.0  40.0  29584.0   88752.0

In [41]:
dataset.columns

Index(['inferior', 'superior', 'fi', 'xi', 'fi.xi', 'Fi', 'xi_2', 'fi_xi_2'], dtype='object')

In [44]:
colunas_ordenadas = ['inferior', 'superior', 'fi', 'xi', 'fi.xi', 'xi_2', 'fi_xi_2', 'Fi']

In [45]:
dataset = dataset[colunas_ordenadas]
dataset

   inferior  superior  fi     xi   fi.xi     xi_2   fi_xi_2    Fi
0       150       154   5  152.0   760.0  23104.0  115520.0   5.0
1       154       158   9  156.0  1404.0  24336.0  219024.0  14.0
2       158       162  11  160.0  1760.0  25600.0  281600.0  25.0
3       162       166   7  164.0  1148.0  26896.0  188272.0  32.0
4       166       170   5  168.0   840.0  28224.0  141120.0  37.0
5       170       174   3  172.0   516.0  29584.0   88752.0  40.0

In [46]:
dp = math.sqrt(dataset['fi_xi_2'].sum() / dataset['fi'].sum() - math.pow(dataset['fi.xi'].sum() / dataset['fi'].sum(), 2))
dp

5.719265687131764